<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Sign In</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    #container {
 
      text-align: center;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

    h1 {
      color: #333;
    }

    p {
      color: #555;
      margin-bottom: 20px;
    }

    .g_id_signin {
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div id="container">
    <h1>Welcome to Mozziy!</h1>
    <p>Looks like you have earlier used Google Sign In to create an account on Mozziy. Please sign in using Google Sign In to continue deleting your account.</p>

    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <div id="g_id_onload" data-client_id="783344080643-bl68bg05qh31u22kbf5f9oea4e3n0bp1.apps.googleusercontent.com"
      data-context="signin" data-ux_mode="redirect" data-login_uri="https://wicked-cap-hen.cyclic.app/api/googlePayloadInfo"
      data-auto_prompt="false">
    </div>

    <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="Sign in with"
      data-size="large" data-locale="en-US" data-logo_alignment="left">
    </div>
  </div>
</body>

</html>
